/* Establece el ancho completo para los campos de formulario de Material */
mat-form-field {
  width: 100%;
  margin-bottom: 15px; /* A침ade un peque침o margen entre campos */
}

/* Limita el ancho de la tarjeta para que no ocupe toda la pantalla */
mat-card {
  max-width: 500px;
  margin: 20px auto; /* Centra la tarjeta en la p치gina */
}

mat-card-actions {
  display: flex;
  justify-content: flex-end; /* Alinea el bot칩n a la derecha */
}