/* Establece el ancho completo para los campos de formulario de Material */
mat-form-field {
  width: 100%;
  margin-bottom: 15px; /* Añade un pequeño margen entre campos */
}

/* Limita el ancho de la tarjeta para que no ocupe toda la pantalla */
mat-card {
  max-width: 500px;
  margin: 20px auto; /* Centra la tarjeta en la página */
}

mat-card-actions {
  display: flex;
  justify-content: flex-end; /* Alinea el botón a la derecha */
}