<section #section class="flex flex-col items-center justify-center gap-8 md:gap-12 lg:gap-[71px] pt-8 md:pt-12 lg:pt-[55px] pb-12 md:pb-16 lg:pb-[91px] px-4 md:px-12 lg:px-[77px] w-full">
  <h2
    [ngClass]="'font-funnel font-medium text-white text-center px-4 transition-all duration-700 ' + (isVisible ? 'opacity-100 translate-y-0' : 'opacity-0 translate-y-10')">
    ¿Por qué la Gestión Manual de Suscripciones está frenando tu negocio?
  </h2>

  <div class="flex flex-col lg:flex-row items-stretch justify-center gap-6 md:gap-8 lg:gap-[34px] w-full max-w-[1358px]">
    <!-- Columna: Problemas -->
    <div
      [class]="'relative w-full lg:flex-1 lg:max-w-[662px] min-h-[500px] md:min-h-[550px] lg:min-h-[549px] bg-[#fcf8f90f] rounded-[30px] md:rounded-[40px] lg:rounded-[60px] border-0 shadow-[inset_1px_0px_21.9px_#fc9eb9] hover:shadow-[inset_1px_0px_30px_#fc9eb9] hover:-translate-y-2 transition-all duration-700 ' + (isVisible ? 'opacity-100 translate-x-0' : 'opacity-0 -translate-x-10')">
      <div class="relative w-full pt-6 pb-[58px] px-6 md:pt-8 md:pb-[74px] md:px-8 lg:pt-[81px] lg:pb-[81px] lg:px-[65px]">
        <h3 class="w-full mb-4 md:mb-6 font-funnel font-medium text-white">
          Hoy pierdes clientes porque:
        </h3>

        <div class="w-full flex flex-col gap-3 md:gap-4 lg:gap-6 font-degular text-white">
          <div *ngFor="let problem of problemsList" class="flex items-center gap-2">
            <img class="w-[18px] h-[18px] flex-shrink-0" alt="Icon" src="assets/icon-4.svg">
            <span class="font-degular">
              {{ problem }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Columna: Soluciones -->
    <div
      [class]="'relative w-full lg:flex-1 lg:max-w/[662px] min-h-[500px] md:min-h-[550px] lg:min-h-[549px] bg-[#fcf8f90f] rounded-[30px] md:rounded-[40px] lg:rounded-[60px] border-0 shadow-[inset_1px_0px_21.9px_#58f6a7] hover:shadow-[inset_1px_0px_30px_#58f6a7] hover:-translate-y-2 transition-all duration-700 delay-200 ' + (isVisible ? 'opacity-100 translate-x-0' : 'opacity-0 translate-x-10')">
      <div class="relative w-full pt-6 pb-[58px] px-6 md:pt-8 md:pb-[74px] md:px-8 lg:pt-[81px] lg:pb-[81px] lg:px-[69px]">
        <h3 class="w-full mb-4 md:mb-6 font-funnel font-bold text-white">
          Con +Breve cambia así:
        </h3>

        <div class="w-full font-degular text-white">
          <ng-container *ngFor="let solution of solutionsList; let i = index">
            <span class="font-degular">
              {{ solution }}
            </span>
            <ng-container *ngIf="i < solutionsList.length - 1">
              <br><br>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>