.planes-container {
  padding: 20px;
  text-align: center;
}

.planes-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en pantallas pequeñas */
}

.plan-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  transition: transform 0.3s, border-color 0.3s, box-shadow 0.3s;
  position: relative;
}
.plan-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el plan seleccionado */
.plan-card.selected {
  border: 2px solid #3f51b5; /* Color primario de Material Design */
  box-shadow: 0 0 15px rgba(63, 81, 181, 0.4);
}

.plan-card.popular {
  background-color: #e8eaf6; /* Fondo ligeramente diferente para el popular */
}

.popular-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff4081; /* Color accent de Material Design */
  color: white;
  padding: 5px 10px;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 0 0 0 10px;
}
.price {
  font-size: 2em;
  font-weight: bold;
  color: #3f51b5;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 15px 0;
}

li {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.confirm-container {
  margin-top: 30px;
}