<div class="planes-container">
  <h2>Elige el plan que mejor se adapte a tus necesidades</h2>

  <div class="planes-grid">
    <!-- Iteramos sobre los planes disponibles -->
    <mat-card *ngFor="let plan of plans" class="plan-card" [class.selected]="plan.id === planId" [class.popular]="plan.popular">
      <div *ngIf="plan.popular" class="popular-badge">Más Popular</div>

      <mat-card-header>
        <mat-card-title>{{ plan.name }}</mat-card-title>
        <mat-card-subtitle class="price">{{ plan.price }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <!-- Iteramos sobre las características -->
          <li *ngFor="let benefit of plan.benefits">
            {{ benefit }}
          </li>
        </ul>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          (click)="planSelection(plan.id)"
          [disabled]="plan.id === planId"
        >
          {{ plan.id === planId ? 'Seleccionado' : 'Seleccionar' }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="confirm-container">
    <button
      mat-flat-button
      color="accent"
      [disabled]="!planId"
      (click)="confirmSelection()">
      Confirmar Selección
    </button>
  </div>
</div>